<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" initial-scale=1.0">
    <title>Éxperiences</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/experience.css">
    <link rel="stylesheet" href="../public/css/experiencefr.css">
</head>
<body>

    <div id="wrapper">
        
        <button class="openbtn" id="openBtn" onclick="openNav()">&#9776;</button>

        <div id="navBarDiv" class="navBar" style="display: none;">
            <a class="navItem" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="navItem" href="aboutMefr.html">À propos de moi</a>
            <a class="navItem" href="educationfr.html">Éducation</a>
            <a class="navItem" href="experiencefr.html" style="color: gray">Éxperiences</a>
            <a class="navItem" href="extrasfr.html">Supplémentaire</a>
        </div>

        <a class="languageBtn" id="enButton" href="experience.html">En</a>

        <div class="pageTitleDiv">
            <p id="pageTitle">Éxperiences</p>
        </div>

        <div class="innerContent">
            <div class="job-infoBox" id="infoBox-1">
                <p class="job-infoBox-Heading" id="heading-1">Canada's Wonderland</p>
                <img src="../assets/cw.png" alt="Canada's Wonderland" id="cw">
                <p class="job-infoBox-Date" id="date-1"><strong>Depuis:&nbsp</strong>Été 2018</p>
                <p class="job-infoBox-Title" id="title-1"><strong>Position:&nbsp</strong>Sauveteur (Sécouriste)</p>
                <p class="job-infoBox-Description" id="description-1"><strong>Rôle et Responsabilités:</strong><br>
                    <ul class="descriptionContent">
                        <li>J'ai accumulé des capacités de consolidation d'équipe et j'ai appris l'importance de la communication et le travail d'équipe</li>
                        <li>Meilleure compréhension de la satisfaction de clients avec les échangea un-sur-un avec les clients</li>
                    </ul>
                </p>
            </div>

            <div class="job-infoBox" id="infoBox-2">
                <p class="job-infoBox-Heading" id="heading-2">Assemblée Législative de l'Ontario</p>
                <img src="../assets/lao.png" alt="Legislative Assembly of Ontario" id="lao">
                <p class="job-infoBox-Date" id="date-2"><strong>Depuis:&nbsp</strong>Été 2019</p>
                <p class="job-infoBox-Title" id="title-2"><strong>Position:&nbsp</strong>Ingénieur de Logiciel QA</p>
                <p class="job-infoBox-Description" id="description-2"><strong>Rôle et Responsabilités:</strong><br>
                    <ul class="descriptionContent">
                        <li>J'ai écrit des "scripts" de test autonome avec Selenium, Java et Python pour faire le testage de déploiement plus facile et pour couvrir autant de cas possible.</li>
                        <li>Implementé le premier "testage de poids" en utilisant JMeter pour un projet de modernization</li>
                    </ul>
                </p>
            </div>

            <div class="job-infoBox" id="infoBox-3">
                <p class="job-infoBox-Heading" id="heading-3">RP4K</p>
                <img src="../assets/rp4k.jpg" alt="Real Programming For Kids" id="rp4k">
                <p class="job-infoBox-Date" id="date-3"><strong>Depuis:&nbsp</strong>2018 - 2019</p>
                <p class="job-infoBox-Title" id="title-3"><strong>Position:&nbsp</strong>Enseignant de Computer Science</p>
                <p class="job-infoBox-Description" id="description-3"><strong>Rôle et Responsabilités:</strong><br>
                    <ul class="descriptionContent">
                        <li>Enseigner comment coder à des petites et moyennes classes dans un environment de jeux vidéos.</li>
                        <li>J'avais des étudiant de l'age 6 à 17</li>
                        <li>Responsable à enseigner Java, C# et Python</li>
                    </ul>
                </p>
            </div>

            <div class="job-infoBox" id="infoBox-4">
                <p class="job-infoBox-Heading" id="heading-4">TD</p>
                <img src="../assets/td.png" alt="TD" id="td">
                <p class="job-infoBox-Date" id="date-4"><strong>Depuis:&nbsp</strong>2020 - 2021</p>
                <p class="job-infoBox-Title" id="title-4"><strong>Position:&nbsp</strong>Ingénieur d'Automation</p>
                <p class="job-infoBox-Description" id="description-4"><strong>Rôle et Responsabilités:</strong><br>
                    <ul class="descriptionContent">
                        <li>Écrit des scripts pour valider les résultats du API</li>
                        <li>Automatiser les réponses et requête, en utilisant Java et SQL</li>
                        <li>Écrit des scripts autonomes pour couvrir toutes les combinations d'entrées</li>
                        <li>Appris la différence du développement dans environnement corporel et l'importance de communiquer avec toutes genres d'équipes</li>
                    </ul>
                </p>
            </div>


            <div class="job-infoBox" id="infoBox-5">
                <p class="job-infoBox-Heading" id="heading-5">247Studios</p>
                <img src="../assets/247logo.png" alt="247studios" id="studios">
                <p class="job-infoBox-Date" id="date-5"><strong>Depuis:&nbsp</strong>2020 - 2021</p>
                <p class="job-infoBox-Title" id="title-5"><strong>Position:&nbsp</strong>Ingénieur de Logiciel</p>
                <p class="job-infoBox-Description" id="description-5"><strong>Rôle et Responsabilités:</strong><br>
                    <ul class="descriptionContent">
                        <li>Travailler avec des clients de haut niveau pour aider avec leurs demandes de développement</li>
                        <li>Utiliser AWS pour le déploiement, et appris comment accéder les machines virtuelles, et comment gérer les "virtual instances"</li>
                        <li><strong>Front-End:&nbsp</strong>HTML, CSS, JavaScript, jQuery</li>
                        <li><strong>Back-End:&nbsp</strong>MySQL, PHP, NodeJS</li>
                        <li><strong>DevOps:&nbsp</strong>AWS, Docker</li>
                    </ul>
                </p>
            </div>

        </div>

    </div>

    <script type="text/javascript">
        function openNav(){
            if (window.matchMedia("(max-width: 670px)").matches){
                document.getElementById("navBarDiv").style.display = "block";
                var list_items = document.getElementsByClassName("navItem");
                for (i = 0; i < list_items.length; i++){
                    list_items[i].style.display = "block";
                }
                document.getElementById("openBtn").style.display = "none";
            }
            else{
                document.getElementById("navBarDiv").style.display = "block";
                document.getElementById("openBtn").style.display = "none";
            }

        }

        function closeNav(){
            document.getElementById("navBarDiv").style.display = "none";
            document.getElementById("openBtn").style.display = "block";
        }
    </script>
</body>
</html>