<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" initial-scale=1.0">
    <title>Navigation Page</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" media="screen and (min-width: 700px)" href="../public/css/styles.css">
    <link rel="stylesheet" media="screen and (max-width: 999px)" href="../public/css/navpageSmall.css">
    <link rel="stylesheet" media="screen and (min-width: 1000px)" href="../public/css/navpage.css">
    <link rel="stylesheet" media="screen and (min-width: 1000px)" href="../public/css/navpagefr.css">
</head>
<body>
    <div id="wrapper">
        <a class="languageBtn" id="enButton" href="navpage.html">En</a>
        <div id="navDiv">
            <ul id="navigationList">
                <li id="aboutMe"><a href="aboutmefr.html" id="aboutMeAnchor">À propos de moi</a></li>
                <li id="education"><a href="educationfr.html" id="educationAnchor">Éducation</a></li>
                <li id="experience"><a href="experiencefr.html" id="experienceAnchor">Éxperiences</a></li>
                <li id="extras"><a href="extrasfr.html" id="extrasAnchor">Supplémentaire</a></li>
            </ul>
        </div>
    </div>

</body>
</html>