<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" initial-scale=1.0">
    <title>Navigation Page</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" media="screen and (min-width: 700px)" href="../public/css/styles.css">
    <link rel="stylesheet" media="screen and (max-width: 699px)" href="../public/css/navpageSmall.css">
    <link rel="stylesheet" media="screen and (min-width: 700px)" href="../public/css/navpage.css">
</head>
<body>
    <div id="wrapper">
        <a class="languageBtn" id="frButton" href="navpageFr.html">Fr</a>
        <div id="navDiv">
            <ul id="navigationList">
                <li id="aboutMe"><a href="aboutme.html" id="aboutMeAnchor">About Me</a></li>
                <li id="education"><a href="education.html" id="educationAnchor">Education</a></li>
                <li id="experience"><a href="experience.html" id="experienceAnchor">Experience</a></li>
                <li id="extras"><a href="extras.html" id="extrasAnchor">Extras</a></li>
            </ul>
        </div>
    </div>

</body>
</html>